<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/kucing.jpg" alt="" class="img-thumbnail rounded " width="200px">
      <h1 class="display-4">Moh Hasbi</h1>
      <p class="lead">Student | Web Developer</p>
    </div>
  </div>
</div>
